div.content {
    all: revert;
}

.language-main {
    width: 50%;
    position: absolute;
    top: 200px;
    padding: 5px;
    margin: 5px;
}

.lomake {
        position:relative;
        align-items: center;
        display: grid;
        top:10%;
        right:0;
        left:0;
}

.nappula {
    margin: 20px;
    max-width: 100px;
}

