img {
    width: 100%;
    height: 100%;
}

.card {
    border: solid #ffffff;
    height: 15em;
    width: 15em;
    margin: 5em;
    overflow: hidden;
    transition: transform 0.8s;
    transform: rotateZ(0) scale(1);
}

.revealed {
    border: solid #000000;
    transform: rotateZ(360deg) scale(1.2);
}

.hovering {
    border: solid #000000; 
}