.memory-main {
    z-index: -1;
    max-width: 75%;
    min-width: 75%;
    position: relative;
    top: 10em;
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}