$font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;

.bingo-main {
    font-family: $font-family;
    z-index: -1;
    left: 30%;
    position: relative;
    top: 12em;
    ul {
        background-color: rgb(39, 39, 236);
        width: 8em;
        border-radius: 100px;
        padding: 1em;
        list-style: none;
        position: relative;
        top: 1em;
        margin-left: 50px;
        margin-right: 50px;
        li {
            background-color: yellow;
            padding: 1em;
            margin: 1em;
            width: 1.25em;
            height: 1.25em;
            border-radius: 100%;
            font-size: 25px;
            font-weight: bold;
        }
    }
    button {
        background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
        color: #FFFFFF;
        cursor: pointer;
        font-size: 1.75em;
        padding: 20px;
        margin: 5px;
        text-align: center;
        text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    }
}







