tbody tr:nth-child(odd) {
    background: #eee;
}

button {
    background-color: #f11c99; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.75em;
}

td {
    height: 2em;
    width: 16em;
}

.todos-main {
    position: relative;
    top: 4em;
    left: 4em;
    width: 50%;
    font-size: 2em;
    text-align: center;
}

.todos-form {
    width: 75%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=text], select, textarea{
    width: 20%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.clickable-td {
    cursor: pointer;
}

.done {
    background-color: rgb(56, 126, 23);
    color: white;
}

.undone {
    background-color: rgb(175, 24, 36);
    color: white;
}