nav {
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 15px;
    height: 7em;
    width: 100%;
    background-color: rgb(202, 237, 241);
}

.nav-link {
    float: left;
    display: block;
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 1.75em;
    padding: 20px;
    margin: 5px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    touch-action: manipulation;
}

.nav-home {
    float: left;
    width: 75px;
    height: 75px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

.main {
    z-index: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.title {
    position: absolute;
    left: 25%;
    top: 2em;
    color: #d54d7b; 
    font-family: "Great Vibes", 
    cursive; font-size: 3em; 
    line-height: 3em; 
    font-weight: normal; 
    margin-bottom: 0px; 
    margin-top: 40px; 
    text-align: center; 
    text-shadow: 0 1px 1px #fff; 
}