.kello {
    position: absolute;
    left: 25%;
    top: 2em;
    color: #d54d7b; 
    font-family: "Great Vibes", 
    cursive; font-size: 2em; 
    line-height: 3em; 
    font-weight: normal; 
    margin-bottom: 0px; 
    margin-top: 40px; 
    text-align: center; 
    text-shadow: 0 1px 1px #fff; 
}